// a dumping ground until you figure out where these styles ought to live

body {
  font-family: "Lato", sans-serif;
}
#sign-in-with {
  color: #fff;
  margin-top: 15px;
}

footer {
  margin-top: 30px;
  text-align: center;
}