.fa {
  font-size: 18px;
  font-weight: 300;
}

.fa-facebook,
.fa-facebook-f,
.fa-facebook-square,
.fa-facebook-official {
  color: #3b5998;
}

.fa-twitter,
.fa-twitter-square {
  color: #1da1f2;
}

.fa-instagram {
  color: #E7DED1;
}