.page-header
  = link_to weight_units_path, class: 'btn btn-default' do
    %span.glyphicon.glyphicon-list-alt
    Back
  = link_to edit_weight_unit_path(@weight_unit), class: 'btn btn-primary' do
    %span.glyphicon.glyphicon-pencil
    Edit
  %h1 Show weight_unit

%dl.dl-horizontal
  %dt Name:
  %dd= @weight_unit.name
